*{
    margin: 0px;
    padding: 0px;
    align-items: center;
}

#box{
    border: 2px solid black;
    width: 100px;   
    transform-origin: 10px;
    align-self: center; 
}

#box:hover{
    /* border: 2px solid black;
    transition-property: all;
    background-color: green;
    font-size: large;
    transition-duration: 1ms;
    width:885px;
    transition-delay: 1ms;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
    position: absolute;
    top: 100px; */
    animation-name: transformation;
    animation-duration: 10s;    
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width:300px){
    #box{
        background-color: aliceblue;
    }
}
@keyframes transformation {
    from{background-color: white;}
    to {background-color: red;}
}